
@font-face {
    font-family: Felixti;
    src: url(../libs/fonts/Felixti.TTF);
}


/*body { padding-top: 70px; }*/

html {
    position: relative;
    min-height: 100%;
}
body > .container {

    padding-top: 110px;
}

.product-card-row {
    overflow: auto;
    white-space: nowrap;
}

#navbar-logotype {
    color: #c4bc12;
    font-family: Felixti, serif;
    letter-spacing: 6px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
}

.footer .container .text-muted {
    margin: 20px 0;
}

.main-content-wrapper {
    padding-top: 70px;
    padding-bottom: 60px;
}

.content-section {
    margin-bottom: 70px;
}

.left-menu li{
    padding-bottom: 11px;
}

.left-menu li a {
    font-size: 0.9em;
    cursor: pointer;
}

a[ng-click] {
    cursor: pointer;
}

@media (min-width: 768px) {
    .product-row-wrapper {
        min-width: 75%;
    }

    .side-menu {
        padding-right: 30px;
    }
}

.top-line-header {
    margin-top: 0;
}

@media (min-width: 992px) {


    .navbar-fixed-top .navbar-collapse {
        padding-right: 15px;
    }
}

.wrap-flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.store-page-news-item {
    padding: 15px 15px;
}

/*.catalog-item-card {*/
    /*padding: 10px;*/
/*}*/
.no-margin-top {
    margin-top: 0;
}

.catalog-item-card {
    padding: 15px;
}

.vote-buttons {
    padding-top: 15px;
    padding-bottom: 15px;
}

.row-extended {
    margin-left: -30px;
    margin-right: -30px;
}

.carousel-control {
    width: 5%;
    color: #777777;
}

.carousel-control:hover, .carousel-control:focus {
    color: #777777;
}

.carousel-control.left, .carousel-control.right {
    background: none no-repeat;
}

.slide-content-block {
    width: 90%;
    margin-left: 5%;
}

.carousel-indicators {
    display: none;
}

.side-photos ul {

}

.item-side-photo, .item-price {
    padding-bottom: 15px;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-properties li {
    margin-bottom: 10px;
}



.main-item-photo {
    padding-left: 0;
}

.focus-text {
    font-weight: bold;
    color: cornflowerblue;
}

.breadcrumb {
    padding-left: 0;
    background: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    margin: 10px;
}

.vote-buttons {
    margin-left: -10px;
    margin-right: -10px;
}

.vote-button-group {
    padding-left: 10px;
    padding-right: 10px;
    color: #777777;
    cursor: pointer;
}

.vote-button-group:hover {
    color: inherit;
}

.vote-button-group, .vote-button-group div{
    display: inline-block;
}

.vote-number {
    color: #777777; !important;
}