@font-face {
    font-family: Felixti;
    src: url(../libs/fonts/Felixti.TTF);
}

/*body { padding-top: 70px; }*/

html {
    position: relative;
    min-height: 100%;
}

body > .container {

    padding-top: 110px;
}

.product-card-row {
    overflow: auto;
    white-space: nowrap;
}

#navbar-logotype {
    color: #c4bc12;
    font-family: Felixti, serif;
    letter-spacing: 6px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #eee;
}

.footer .container .text-muted {
    margin: 20px 0;
}

.main-content-wrapper {
    padding-top: 70px;
    padding-bottom: 60px;
}

.content-section {
    margin-bottom: 70px;
}

.left-menu li {
    padding-bottom: 11px;
}

.left-menu li a {
    font-size: 0.9em;
    cursor: pointer;
}

a[ng-click] {
    cursor: pointer;
}

@media (min-width: 768px) {
    .product-row-wrapper {
        min-width: 75%;
    }

    .side-menu {
        padding-right: 30px;
    }

    .item-location-map {
        width: 50rem;
        height: 30rem;
        display: block;
    }
}

.top-line-header {
    margin-top: 0;
}

@media (min-width: 992px) {

    .navbar-fixed-top .navbar-collapse {
        padding-right: 15px;
    }
}

.wrap-flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.store-page-news-item {
    padding: 15px 15px;
}

/*.catalog-item-card {*/
/*padding: 10px;*/
/*}*/
.no-margin-top {
    margin-top: 0;
}

.catalog-item-card {

}

.vote-buttons {
    padding-bottom: 15px;
}

.carousel-control {
    width: 5%;
    color: #777777;
}

.carousel-control:hover, .carousel-control:focus {
    color: #777777;
}

.carousel-control.left, .carousel-control.right {
    background: none no-repeat;
}

.slide-content-block {
    width: 90%;
    margin-left: 5%;
}

.carousel-indicators {
    display: none;
}

.side-photos ul {

}

.item-side-photo, .item-price {
    padding-bottom: 15px;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-properties li {
    margin-bottom: 10px;
}

.main-item-photo {
    padding-left: 0;
}

.focus-text {
    font-weight: bold;
    color: cornflowerblue;
}

.breadcrumb {
    padding-left: 0;
    background: none;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    margin: 10px;
}

.vote-buttons {
    margin-left: -10px;
    margin-right: -10px;
}

.vote-button-group {
    padding-left: 10px;
    padding-right: 10px;
    color: #777777;
    cursor: pointer;
}

.vote-button-group:hover {
    color: inherit;
}

.vote-button-group, .vote-button-group div {
    display: inline-block;
}

.vote-number {
    color: #777777;
!important;
}

ya-map {
    width: 100%;
    height: 400px;
    display: block;
}

.pagination {
    margin-top: 0;
    margin-bottom: 22px;
}

.pagination > li > a {
    border: none;
}

.item-grid .catalog-item-card {
    padding-bottom: 50px;
}

uib-carousel {
    text-align: left;
}

.gender-list {
    padding-bottom: 2rem;
}

.gender-list a {
    color: #777777;
    display: inline-block;
    padding-bottom: 0.6rem;
    cursor: pointer;
    text-decoration: none;
    margin-right: 2rem;
}

.gender-list a:hover {
    color: inherit;
}

.gender-list .active {
    color: inherit;
    border-bottom: 3px solid #333;
}

.item-label {
    position: absolute;
    top: 0.5rem;
    left: 2rem;
    background-color: cornflowerblue;
    border-radius: 50%;
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
}

.focus-color {
    color: cornflowerblue;
}

.deleted-price {
    margin-right: 1rem;
}

.sale-card a, .sale-card a:hover {
    color: #333;
    text-decoration: none;
}

.sale-card-img {

}

.sale-card .description-header {
    padding-bottom: 3rem;
}

.sale-header-text {
    display: block;
    font-size: 5rem;
}

catalog-mobile-menu {
    padding-bottom: 3rem;
    display: block;
}

catalog-mobile-menu-item {
    display: block;
}

catalog-mobile-menu .header-button, .menu-item-heading {
    margin-left: -12px;
    margin-right: -12px;
}

catalog-mobile-menu .menu-item {
    /*padding-top: 0.5rem;*/
    /*padding-bottom: 0.5rem;*/
}

.menu-item-heading .btn {
    text-align: left;
}

.menu-item-heading .btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.filters > div {
    display: inline-block;
}

.popover {
    max-width: none;
}

.sort {
    margin-right: 2rem;
}

.filter-submit-button {
    margin-bottom: 0;
}

.news-extended-row {
    margin-left: -4rem;
    margin-right: -4rem;
}

.news-extended-row .sale-card {
    padding: 2.5rem;
}

.vk-color-background {
    background-color: #4d7198;
}

.login-buttons .vk-color-background:hover {
    background-color: #344C66;
}

.google-color-background {
    background-color: #D84B37;
}

.login-buttons .google-color-background:hover {
    background-color: #a6392b;
}

.facebook-color-background {
    background-color: #3b5998;
}

.login-buttons .facebook-color-background:hover {
    background-color: #273B66;
}

.login-buttons .btn, .login-buttons .btn:hover, .login-buttons .btn:focus, .login-buttons .btn:active {
    color: white;
}

.profile-properties .control-label {
    width: auto;
}

.profile-nav {
    padding-bottom: 3rem;
}

.login-buttons {
    padding-bottom: 2rem;
}