<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eligendi, eum impedit ipsa ipsam ipsum laboriosam non officiis, quisquam quos repellendus repudiandae suscipit veniam? Cupiditate error iste non placeat quo!
    </div>
    <div class="modal-footer">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda debitis doloremque, doloribus ea eveniet incidunt iste minima officia, possimus quas quo rerum, voluptate! Doloremque harum mollitia placeat qui vitae!
    </div>
</div>