<div class="catalog-item-card">
    <p><a href="#">
        <img src="files/800x1300.png" alt="..."
             class="img-thumbnail img-responsive">
    </a></p>
    <p class="product-card-price">20.00 р.</p>
    <p class="product-card-discount-label">Размер</p>
    <p ng-if="!delete"><a ng-click="ic.addToCart(1)"><span class="glyphicon glyphicon-shopping-cart"></span> В корзину</a></p>
    <p ng-if="delete"><a class="text-danger" ng-click="ic.removeFromCart(1)"><span class="glyphicon glyphicon glyphicon-remove"></span> Удалить из корзины</a></p>
</div>
