<div class="catalog">


    <div class="row">
        <div class="col-md-offset-2 col-md-10 col-sm-12">
            <div class="gender-list h3">
                <a class="gender active">Женщинам</a>
                <a class="gender">Мужчинам</a>
                <a class="gender">Детям</a>
            </div>
        </div>
    </div>

    <div class="hidden-lg hidden-md">
        <catalog-mobile-menu></catalog-mobile-menu>
    </div>

    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
            <div>
                <side-menu></side-menu>
            </div>
        </div>
        <div class="col-md-10 col-sm-12">
            <div class="content-section item-grid">
                <div class="filters">
                    <div class="">
                        <ul class="list-inline list-unstyled">
                            <li><span>Сортировать: </span></li>
                            <li><select class="form-control input-sm">
                                <option>По возрастанию цены</option>
                                <option>По убыванию цены</option>
                                <option>По новинкам</option>
                                <option>По скидкам</option>
                            </select></li>
                        </ul>

                    </div>
                    <div>
                        <ul class="list-inline list-unstyled">
                            <li><span>Фильтры: </span></li>
                            <li>
                                <button popover-trigger="'outsideClick'" popover-placement="bottom"
                                        uib-popover-template="cc.filters.price.popover.templateUrl" type="button"
                                        class="btn btn-link">Цена
                                </button>
                            </li>
                            <li>
                                <button popover-trigger="'outsideClick'" popover-placement="bottom"
                                        uib-popover-template="cc.filters.size.popover.templateUrl" type="button"
                                        class="btn btn-link">Размер
                                </button>
                            </li>
                            <li>
                                <button popover-trigger="'outsideClick'" popover-placement="bottom"
                                        uib-popover-template="cc.filters.brand.popover.templateUrl" type="button"
                                        class="btn btn-link">Бренд
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <div>
                        <ul class="pagination pagination-sm">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="wrap-flex-container row">
                    <div class="col-xs-6 col-sm-3" ng-repeat="a in mc.getRange(20)">
                        <catalog-item-card></catalog-item-card>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <div>
                        <ul class="pagination pagination-sm">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>