<div class="catalog-item-card">
    <p>
        <a ui-sref="root.item({storeId: 1, itemId: 1})">
            <img src="files/800x1300.png" alt="..."
                 class="img-responsive">
        </a>
    </p>
    <p class="product-card-price"><span class="focus-color"> 20.00 р.</span></p>
    <p class="product-card-discount-label">
        <small>M / <span class="text-muted">Описание товара</span></small>
    </p>
    <p>
        <small>Дата и время заказа:</small>
        01.10.2017
    </p>
</div>
