<div class="side-menu">
    <ul class="list-unstyled left-menu">
        <li><b>ОДЕЖДА</b></li>
        <li><a>Футболки</a></li>
        <li><a>Брюки и шорты</a></li>
        <li><a>Рубашки</a></li>
        <li><a>Джинсы</a></li>
        <li><a>Верхняя одежда</a></li>
        <li><a>Джемперы и кардиганы</a></li>
        <li><a>Лонгсливы</a></li>
        <li><a>Мантии</a></li>
        <li><a>Толстовки</a></li>
        <li><a>Худи</a></li>
        <li><a>Костюмы</a></li>
        <li><a>Пиджаки и жакеты</a></li>
        <li><a>Жилеты</a></li>
        <li><a>Свитшоты</a></li>
        <li><a>Одежда для дома</a></li>
        <li><a>Водолазки</a></li>
        <li><a>Комбинезоны</a></li>
    </ul>
    <ul class="list-unstyled left-menu">
        <li><b>Обувь</b></li>
        <li><a>Футболки</a></li>
        <li><a>Брюки и шорты</a></li>
    </ul>
</div>