<div class="">

    <div class="content-section">
        <div class="page-header no-margin-top">
            <h1>Корзина</h1>
        </div>
        <div>
            <div id="main-page-catalog">
                <div class="wrap-flex-container row">
                    <div class="col-xs-6 col-sm-4" ng-repeat="a in mc.getRange(5)">
                        <div>
                            <a href="#">
                                <img src="http://via.placeholder.com/800x1300" alt="..."
                                     class="img-thumbnail img-responsive">
                            </a>
                            <h4 class="store-name">Название магазина</h4>
                            <p class="product-card-price">20.00 р.</p>
                            <p class="product-card-discount-label">Скидка</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
