<div class="">

    <div class="content-section">
        <div class="page-header no-margin-top">
            <h1>Корзина</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi distinctio incidunt ipsam iusto mollitia, neque nostrum quae tenetur unde. A deleniti eius molestiae perferendis quas rerum vero. Enim, sequi.</p>
        <div>
            <div class="item-grid">
                <div class="wrap-flex-container row row-extended">
                    <div class="col-xs-6 col-sm-3" ng-repeat="a in mc.getRange(8)">
                        <catalog-item-card delete="true"></catalog-item-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
