<footer class="footer">
    <div class="container">
        <!--<div class="row">-->
        <!--<div class="col-sm-3">-->
        <!--<h5>Title</h5>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur illo iusto obcaecati perspiciatis quos saepe sed voluptate? Animi beatae enim esse est et facere, in non quam sed sequi, velit?</p>-->
        <!--</div>-->
        <!--<div class="col-sm-3">-->
        <!--<h5>Title</h5>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cupiditate eligendi omnis vero. At ea eaque eius et in iusto, qui quibusdam quidem, rem repudiandae sed suscipit ullam vero voluptates.</p>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</footer>