<div>
    <div class="modal-header">
        Войти или зарегистрироваться
        <button type="button" ng-click="mc.close()" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>

    </div>
    <div class="modal-body" id="modal-body">
        <div class="login-buttons">
            <button ng-click="mc.login()" type="button" class="btn btn-lg btn-block vk-color-background"><i
                    class="fa fa-vk"
                    aria-hidden="true"></i> ВКонтакте
            </button>
            <button ng-click="mc.login()" type="button" class="btn btn-lg btn-block facebook-color-background"><i
                    class="fa fa-facebook"
                    aria-hidden="true"></i>
                Facebook
            </button>
            <button ng-click="mc.login()" type="button" class="btn btn-lg btn-block google-color-background"><i
                    class="fa fa-google"
                    aria-hidden="true"></i> Google
            </button>
        </div>
        <a class="btn btn-link btn-block" ui-sref="">
            <small>Вход для администраторов</small>
        </a>
    </div>
</div>