<div class="">

    <div class="content-section">
        <div>
            <div>
                <div uib-carousel active="0" interval="mc.carousel.interval">
                    <div uib-slide ng-repeat="slide in mc.carousel.slides track by slide.id" index="slide.id">
                        <div class="wrap-flex-container row row-extended slide-content-block">
                            <div class="col-xs-6 col-sm-6 col-md-3" ng-repeat="a in mc.getRange(4)">
                                <catalog-item-card></catalog-item-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        <last-updates></last-updates>
    </div>

    <div class="content-section">
        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs side-menu">
                <div class="pull-right">
                    <h3></h3>
                    <ul class="list-unstyled left-menu">
                        <li><b>ОДЕЖДА</b></li>
                        <li><a>Футболки</a></li>
                        <li><a>Брюки и шорты</a></li>
                        <li><a>Рубашки</a></li>
                        <li><a>Джинсы</a></li>
                        <li><a>Верхняя одежда</a></li>
                        <li><a>Джемперы и кардиганы</a></li>
                        <li><a>Лонгсливы</a></li>
                        <li><a>Мантии</a></li>
                        <li><a>Толстовки</a></li>
                        <li><a>Худи</a></li>
                        <li><a>Костюмы</a></li>
                        <li><a>Пиджаки и жакеты</a></li>
                        <li><a>Жилеты</a></li>
                        <li><a>Свитшоты</a></li>
                        <li><a>Одежда для дома</a></li>
                        <li><a>Водолазки</a></li>
                        <li><a>Комбинезоны</a></li>
                    </ul>
                    <ul class="list-unstyled left-menu">
                        <li><b>Обувь</b></li>
                        <li><a>Футболки</a></li>
                        <li><a>Брюки и шорты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <div id="main-page-catalog" class="content-section">
                    <div class="wrap-flex-container row row-extended">
                        <div class="col-xs-6 col-sm-3" ng-repeat="a in mc.getRange(20)">
                            <catalog-item-card></catalog-item-card>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <div class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>