<div class="">

    <div class="content-section">
        <div>
            <div>
                <div uib-carousel active="0" interval="mc.carousel.interval">
                    <div uib-slide ng-repeat="slide in mc.carousel.slides track by slide.id" index="slide.id">
                        <div class="wrap-flex-container row slide-content-block ">
                            <div class="col-xs-6 col-sm-6 col-md-3 text-left" ng-repeat="a in mc.getRange(4)">
                                <catalog-item-card></catalog-item-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        <last-updates></last-updates>
    </div>

    <div class="content-section">
        <catalog></catalog>
    </div>
</div>