<div class="">

    <div class="content-section">
        <div>
            <div>
                <div uib-carousel active="0" interval="mc.carousel.interval">
                    <div uib-slide ng-repeat="slide in mc.carousel.slides track by slide.id" index="slide.id">
                        <div class="wrap-flex-container row slide-content-block">
                            <div class="col-xs-6 col-sm-6 col-md-3" ng-repeat="a in mc.getRange(4)">
                                <catalog-item-card></catalog-item-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        <last-updates></last-updates>
    </div>

    <div class="content-section">

        <div class="mobile-menu hidden-lg hidden-md">
            <button type="button" class="btn btn-link btn-block">Меню</button>
        </div>

        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs">
                <div>
                    <side-menu></side-menu>
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <div class="content-section item-grid">
                    <nav aria-label="Page navigation">
                        <div>
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="wrap-flex-container row">
                        <div class="col-xs-6 col-sm-3" ng-repeat="a in mc.getRange(20)">
                            <catalog-item-card></catalog-item-card>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <div>
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>