<div class="">

    <div class="content-section first-content-section">
        <div class="row">
            <div class="col-md-2">
                <img src="http://via.placeholder.com/1400x1300" alt="..."
                     class="img-responsive">
            </div>
            <div class="col-md-10">
                <h1 class="top-line-header">Каталог "Название Магазина"</h1>
                <div>
                    <p>ПН-СБ: 9:00 — 19:00<br>
                        ВС: 9:00 — 15:00</p>
                </div>
                <div>
                    <p><a href="#">пр-т Димитрова, 70а ТЦ "Поло"</a></p>
                </div>

            </div>
        </div>
    </div>

    <div class="content-section">
        <last-updates></last-updates>
    </div>


    <div class="content-section">

        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="pull-right">
                    <h3></h3>
                    <ul class="list-unstyled left-menu">
                        <li><b>ОДЕЖДА</b></li>
                        <li><a>Футболки</a></li>
                        <li><a>Брюки и шорты</a></li>
                        <li><a>Рубашки</a></li>
                        <li><a>Джинсы</a></li>
                        <li><a>Верхняя одежда</a></li>
                        <li><a>Джемперы и кардиганы</a></li>
                        <li><a>Лонгсливы</a></li>
                        <li><a>Мантии</a></li>
                        <li><a>Толстовки</a></li>
                        <li><a>Худи</a></li>
                        <li><a>Костюмы</a></li>
                        <li><a>Пиджаки и жакеты</a></li>
                        <li><a>Жилеты</a></li>
                        <li><a>Свитшоты</a></li>
                        <li><a>Одежда для дома</a></li>
                        <li><a>Водолазки</a></li>
                        <li><a>Комбинезоны</a></li>
                    </ul>
                    <ul class="list-unstyled left-menu">
                        <li><b>Обувь</b></li>
                        <li><a>Футболки</a></li>
                        <li><a>Брюки и шорты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <div id="main-page-catalog">
                    <div class="wrap-flex-container">
                        <div class="col-xs-4 col-sm-3">
                            <div>
                                <a href="#">
                                    <img src="http://via.placeholder.com/800x1300" alt="..."
                                         class="img-thumbnail img-responsive">
                                </a>
                                <h4 class="store-name"></h4>
                                <p class="product-card-price">20.00 р.</p>
                                <p class="product-card-discount-label">Скидка</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
