<div class="">

    <div class="content-section">
        <search-field></search-field>
    </div>

    <div class="content-section">
        <div class="row">
            <div class="col-md-2">
                <img src="files/500x500.png" alt="..."
                     class="img-responsive img-circle">
            </div>
            <div class="col-md-10">
                <h1 class="top-line-header">"Название Магазина"</h1>
                <div>
                    <p>ПН-СБ: 9:00 — 19:00<br>
                        ВС: 9:00 — 15:00</p>
                </div>
                <div>
                    <p><a href="#">пр-т Димитрова, 70а ТЦ "Поло"</a></p>
                </div>

            </div>
        </div>
    </div>

    <div class="content-section">
        <last-updates></last-updates>
    </div>


    <div class="content-section">

        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="pull-right">
                    <h3></h3>
                    <ul class="list-unstyled left-menu">
                        <li><b>ОДЕЖДА</b></li>
                        <li><a>Футболки</a></li>
                        <li><a>Брюки и шорты</a></li>
                        <li><a>Рубашки</a></li>
                        <li><a>Джинсы</a></li>
                        <li><a>Верхняя одежда</a></li>
                        <li><a>Джемперы и кардиганы</a></li>
                        <li><a>Лонгсливы</a></li>
                        <li><a>Мантии</a></li>
                        <li><a>Толстовки</a></li>
                        <li><a>Худи</a></li>
                        <li><a>Костюмы</a></li>
                        <li><a>Пиджаки и жакеты</a></li>
                        <li><a>Жилеты</a></li>
                        <li><a>Свитшоты</a></li>
                        <li><a>Одежда для дома</a></li>
                        <li><a>Водолазки</a></li>
                        <li><a>Комбинезоны</a></li>
                    </ul>
                    <ul class="list-unstyled left-menu">
                        <li><b>Обувь</b></li>
                        <li><a>Футболки</a></li>
                        <li><a>Брюки и шорты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-12">
                <div id="main-page-catalog">
                    <div class="wrap-flex-container row row-extended">
                        <div class="col-xs-6 col-sm-3" ng-repeat="a in mc.getRange(10)">
                            <catalog-item-card></catalog-item-card>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <div class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
