<div class="">

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <div class="content-section">
        <div class="row">
            <div class="col-md-2 hidden-xs hidden-sm">
                <img src="files/500x500.png" alt="..."
                     class="img-responsive img-circle">
            </div>
            <div class="col-md-10 col-sm-12">
                <h1 class="top-line-header ">Название Магазина</h1>
                <div>
                    <p>ПН-СБ: 9:00 — 19:00<br>
                        ВС: 9:00 — 15:00</p>
                </div>
                <div>
                    <p><a href="#">пр-т Димитрова, 70а ТЦ "Поло"</a></p>
                </div>
                <div class="vote-buttons">
                    <div class="vote-button-group" ng-click="sc.like()">
                        <h4><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span class="vote-number">123</span></h4>
                    </div>
                    <div class="vote-button-group" ng-click="sc.dislike()">
                        <h4><i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <span class="vote-number">123</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section" ng-if="!sc.saleId">
        <last-updates></last-updates>
    </div>


    <div class="content-section" ng-if="sc.saleId">
        <sale-card></sale-card>
    </div>


    <div class="content-section">
        <catalog></catalog>
    </div>
</div>
