<div>
    <div class="content-section">
        <div>
            <div class="page-header top-line-header">
                <h1>Личный кабинет</h1>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="profile-nav">
                        <ul class="nav nav-pills nav-stacked">
                            <li ui-sref-active="active" role="presentation"><a ui-sref="root.user.settings">Персональные
                                данные</a></li>
                            <li ui-sref-active="active" role="presentation"><a ui-sref="root.user.orders">Заказы</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a ng-click="ctrl.logout()" class="btn btn-link">Выход</a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>